ADF/pipeline/Sql2Sql_Parameterized_Child.json
{
	"name": "Sql2Sql_Parameterized_Child",
	"properties": {
		"activities": [
			{
				"name": "lkp_oldwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select TableName,watermarkvalue as old_watermark\nfrom [dbo].[watermarktable] \nwhere tablename='@{pipeline().parameters.TableName_v}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lkp_newwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.WaterMarkColumn_v}) as new_watermark\n from @{pipeline().parameters.TableName_v}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_oldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_newwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select *\n from @{pipeline().parameters.TableName_v}\nwhere @{pipeline().parameters.WaterMarkColumn_v} > '@{activity('lkp_oldwatermark').output.firstRow.old_watermark}'\nand @{pipeline().parameters.WaterMarkColumn_v} <=  '@{activity('lkp_newwatermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTarget_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@concat(pipeline().parameters.TableName_v, '_t')\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "update_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@{activity('lkp_newwatermark').output.firstRow.new_watermark}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "'@{activity('lkp_oldwatermark').output.firstRow.tablename}'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDbanil",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName_v": {
				"type": "string",
				"defaultValue": "orders"
			},
			"WaterMarkColumn_v": {
				"type": "string",
				"defaultValue": "InsertDateTime"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-25T20:52:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}